# ========================
# Ambientes Virtuais e Keys
# ========================
venv/
.venv/
env/
.env

# ========================
# Cache do Python
# ========================
__pycache__/
*.py[cod]
*.pyc

# ========================
# IDEs e Editores
# ========================
.idea/
*.sublime-workspace
*.sublime-project
.DS_Store
Thumbs.db

# ========================
lembrar.txt
